html, body {
  height: 100%;
}

body {
  background: #efefef;
  color: #121221;
  font: 700 13px/1 Lato, monospace;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin: 3em 0 2em;
}

.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  margin: 1em;
  font-weight: bold;
  padding: 1em 2em;
  text-transform: inherit;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.btn-1 {
  color: #9c89f7;
}

.btn-1:hover {
  -webkit-animation: halftone 1s forwards;
          animation: halftone 1s forwards;
  background: radial-gradient(circle, #9c89f7 0.2em, transparent 0.25em) 0/1.25em 1.25em, radial-gradient(circle, #9c89f7 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
  color: #e4f789;
}

@-webkit-keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

.btn-2 {
  color: #13e9b0;
}

.btn-2:hover {
  -webkit-animation: stripes-move 0.75s infinite linear;
          animation: stripes-move 0.75s infinite linear;
  background: repeating-linear-gradient(45deg, #13e9b0 0, #13e9b0 0.25em, transparent 0.25em, transparent 0.5em);
  color: #e9134c;
}

@-webkit-keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

.btn-3 {
  color: #f8cd41;
}

.btn-3:hover {
  -webkit-animation: sawtooth 0.35s infinite linear;
          animation: sawtooth 0.35s infinite linear;
  background: linear-gradient(45deg, #f8cd41 0.5em, transparent 0.5em) 0 0/1em 1em, linear-gradient(-45deg, #f8cd41 0.5em, transparent 0.5em) 0 0/1em 1em;
  color: #414ef8;
}

@-webkit-keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

@keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

.btn-4 {
  color: #2ff215;
}

.btn-4:hover {
  -webkit-animation: zigzag 1s linear infinite;
          animation: zigzag 1s linear infinite;
  background: linear-gradient(135deg, rgba(47, 242, 21, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(225deg, rgba(47, 242, 21, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(315deg, rgba(47, 242, 21, 0.25) 0.25em, transparent 0.25em) 0 0, linear-gradient(45deg, rgba(47, 242, 21, 0.25) 0.25em, transparent 0.25em) 0 0;
  background-size: 0.75em 0.75em;
  color: #d815f2;
}

@-webkit-keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0, -0.75em 0;
  }
}

@keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0, -0.75em 0;
  }
}

.btn-5 {
  color: #2cd531;
}

.btn-5:hover {
  -webkit-animation: blinds 0.75s linear forwards;
          animation: blinds 0.75s linear forwards;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #2cd531), color-stop(25%, transparent)) 0 0/0.5em 0.5em, -webkit-gradient(linear, left bottom, left top, color-stop(50%, #88d6f3), color-stop(50%, transparent)) 0 0/1em 1em;
  background: linear-gradient(0deg, #2cd531 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #88d6f3 50%, transparent 50%) 0 0/1em 1em;
  color: #d52cd0;
}

@-webkit-keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

.btn-6 {
  color: #d01ad0;
}

.btn-6:hover {
  -webkit-animation: pulse 1s ease-in infinite;
          animation: pulse 1s ease-in infinite;
  background: radial-gradient(circle, rgba(208, 26, 208, 0.25) 43%, transparent 50%) 0 0/1em 1em, radial-gradient(circle, rgba(208, 26, 208, 0.25) 43%, transparent 50%) 0.5em 0.5em/2em 2em;
  color: #094809;
}

@-webkit-keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

@keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}
/*# sourceMappingURL=style.css.map */